<ion-header>
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let task of tasks" size="12" size-md="4">
        <div class="container center">
          <ion-card class="card">
            <div class="date">
              {{task.created_at | date: "short"}}
            </div>
            <ion-card-header>
              <ion-card-title>
                {{task.title}}
              </ion-card-title>
              <hr/>
              <ion-card-subtitle>
                {{task.subtitle}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{task.description}}
              <div>
                <ion-button color="secondary" [routerLink]="['/', 'tasks', 'edit', task.id]">Editar</ion-button>
                <ion-button color="danger" (click)="deleteTask(task.id)">Eliminar</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" routerLink="/task-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
