<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title>{{editing ? 'Modificar' : 'Nueva'}} tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" offset-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title> {{editing ? 'Editar' : 'Crear'}}  tarea </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Tengo que hacer...</ion-label>
              <ion-input [(ngModel)]="task.title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Descripción de mi tarea</ion-label>
              <ion-input [(ngModel)]="task.description"></ion-input>
            </ion-item>
            <ion-button color="primary" expand="full" (click)="editing ? updateTask() : saveTask()">{{editing ? 'Actualizar' : 'Guardar'}}</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>